<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
      {{!-- <th scope="col"><a href="/products/logout"><button class="btn btn-danger">logout</button></a></th> --}}

    </tr>
  </thead>
  <tbody>
    {{#each products}}
      <tr>
        <th scope="row">{{_id}}</th>
        <td>{{pName}}</td>
        <td>{{pDesc}}</td>
        <td>{{pPrice}}</td>

        <td>
          <form action="/products/edit-product/{{_id}}" method="GET">
            <button type="submit" class="btn btn-primary">Edit</button>
          </form>
        </td>
        <td><form action="/products/delete-product/{{_id}}" method="GET">
            <button type="submit" class="btn btn-danger">  Delete</button>
          </form>
        </td>
      </tr>
    {{/each}}
     <a href="/products/logout"><button class="btn btn-danger" style="float:right;">Logout</button></a>
  </tbody>
</table>