<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Price</th>
    </tr>
  </thead>
  <tbody>
      {{#each orderedProducts}}
    <tr>
      <th scope="row">{{_id}}</th>
      <td>{{pName}}</td>
      <td>{{pDesc}}</td>
      <td>{{pPrice}}</td>
      <td>{{pQuantity}}</td>
      <td>{{pTotalPrice}}</td>
      
      {{!-- <td><form action="/products/edit-product/{{_id}}" method="GET"><button type="submit" class="btn btn-primary">Edit</button></form> </td>
      <td><form action="/products/delete-product/{{_id}}" method="GET"><button type="submit" class="btn btn-danger">Delete</button></form> </td> --}}
    </tr>
    {{/each}}
  </tbody>
</table>
</div>